.f-fr {
  float: right;
}

.f-flex {
  display: flex;
}

.f-clearfix {
  overflow: hidden;
}

.f-ml10 {
  margin-left: 10px;
}

.f-mr10 {
  margin-right: 10px;
}

.f-pb20 {
  padding-bottom: 20px;
}

.f-pl20 {
  padding-left: 20px;
}

.f-mb0 {
  margin-bottom: 0;
}

.f-br0 {
  border-right: 0;
}

.f-relative {
  position: relative;
}

